{% extends 'main/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<a href="/collections/{{user.get_username}}/" style="margin-left:-200px; text-decoration: none; padding:8px 16px; border-radius: 50%; background-color: #f1f1f1; color: black;" class="previous round">&#8249;</a>
	{% else %}
	<a href="/quick-post/" style="margin-left:-200px; text-decoration: none; padding:8px 16px; border-radius: 50%; background-color: #f1f1f1; color: black;" class="previous round">&#8249;</a>
	{% endif %}

	<style>
		column {
			float: left;
		}
		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		canvas {
			overflow-x: auto;
			margin: auto;
			margin-right: 300px;
		}
	</style>
<div>
	<center><h2 style="font-family:'Brush Script MT', cursive;">All Statistics:</h2></center>
	<h3 class="font-weight-light" style="margin-left:25px;display: inline-block;">Pie Chart:</h3>
	<h3 class="font-weight-light" style="margin-left: 500px;display: inline-block;">Mostly Used:</h3>
	 
	<div class="row">
		<div class="chart-container column" style="">
			<canvas id="myChart" style="width:500px"></canvas>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<script>
		  const labels = [
			'Sentence(s)',
			'Digits',
			'Punctuations',
			'Spaces',
			'Pronouns (pn)',
			'Nouns (nn)',
			'Verbs (vb)',
			'Adjectives (adj)',
			'Adverbs (adv)',
			'Prepositions (prepo)',
			'Articles',
		  ];

		  const data = {
		    labels: labels,
		    datasets: [{
		      label: 'Grammar Data',
		      borderColor: '#EFEFEF',
		      hoverOffset: 10,
		      borderAlign: 'center',
		      backgroundColor: ['rgb(255, 99, 132)',
		      'rgb(54, 162, 235)',
		      'rgb(255, 205, 86)',
		      'rgb(255, 300, 50)',
		      'rgb(255, 23, 132)',
		      'rgb(110, 99, 132)',
		      'rgb(50, 32, 132)',
		      'rgb(45, 162, 132)',
		      'rgb(14, 80, 112)',
		      'rgb(50, 99, 50)',
		      'rgb(10, 10, 33)',],
		      data: {{counts}},
		    }]
		  };

		  const config = {
			type: 'pie',
			data: data,
			options: {}
		  };
		</script>

		<script>
		  const myChart = new Chart(
			document.getElementById('myChart'),
			config
		  );
		</script>

		<div class="column" style="margin-left:-130px;">
			<table class="table table-bordered table-dark" style="width:130px; border:1px solid;">
				<tbody class="font-weight-light">
					{% for i in most_used %}
					<tr>
						<td>{{i|linebreaks}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<br></br>

	<h3 class="font-weight-light">Code Output:</h3>

	<pre style="white-space: pre-wrap;">
		<code>
		<textarea id="text-val" rows="20" cols="100">
			{{output}}
		</textarea>
		</code>
	</pre>

	<p class="font-weight-light">Since this code takes up a lot of space, it is preferred to download as a text file for closer observation!</p>

	<input type="button" class="btn btn-light btm-sm" id="dwn-btn" value="Download as text file"/>

	<p></p>

	<script>
		function download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);

			element.style.display = 'none';
			document.body.appendChild(element);

			element.click();

			document.body.removeChild(element);
		}
		document.getElementById("dwn-btn").addEventListener("click", function(){
			var text = document.getElementById("text-val").value;
			var filename = "code.txt";

			download(filename, text);
		}, 
			false);
	</script>
</div>
{% endblock %}