{% extends 'main/base.html' %}

{% block title %} Change My Password {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
	<h3> Update your password </h3>

	{% if user.is_authenticated %}
	<form method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<button type="submit" class="btn btn-danger">Save changes</button>
	</form>
	{% else %}
		<p> Hey! Looks like you got lost. Are you trying to <a href="/password_reset">reset your password</a> that is forgotten? </p>
	{% endif %}

{% endblock %}