{% extends 'main/base.html' %}


{% block title %} My Collections {% endblock %}

{% block content %}
	<center><h2 style="font-family:'Brush Script MT', cursive;">My Collections</h2></center>
	<form method="POST" action="#">
		{% csrf_token %}

	<table class="table table-hover table-striped">
		<thead class="thead" style="background-color:white;">
			<tr>
				<th>Inputs</th>
				<th>Data</th>
				<th></th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody class="font-weight-light">
			{% for i in user.collection.all %}
			<tr>
				<td>{{i.text}}</td>
				<td>
					<a type="submit" name="results" value="results" class="btn btn-light btn-sm" href="{% url 'accurate_data' i.id %}" style="text-decoration:none; color:black;">Accurate Results</a>
				</td>
				<td>
					<a type="submit" name="results" value="results" class="btn btn-light btn-sm" href="{% url 'data' i.id %}" style="text-decoration:none; color:black;">Results</a>
				</td>
				<td>
					<a type="submit" name="delete" value="delete" class="btn btn-danger btn-sm" href="{% url 'delete_collection' i.id %}" style="text-decoration:none; color: white">
						Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a type="submit" name="stats" value="stats" class="btn btn-warning" href="/combined_data" style="text-decoration:none; color: white">Statistics</a>
	<button type="submit" name="create" value="create" class="btn btn-light">New Input</button>
	</form>

	<br />
{% endblock %}
