{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} New Input {% endblock %}

{% block content %}
	<center>
		<h3 style="font-family:'Brush Script MT', cursive;">Create a New Input:</h3>
		<p class="text-primary"></p>
		<form method = "post" action = "/create/" class="form-group">
			{% csrf_token %}
			{{form|crispy}}
			<div class="input-group mb-3">
				<div class="col text-center">
					<button type="submit" name="save" class="btn btn-danger">Create and see results</button>
					<button type="submit" name="accurate_save" class="btn btn-primary">Create and see accurate results</button>
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#checkbtn">How it works</button>
				</div>

			<div class="modal fade" id="checkbtn" tabindex="-1" role="dialog" aria-labelledby="checkbtn" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="checkbtn">How it works</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					<h5>Instructions</h5>
			        <p>Type your text into the input field.<br />
			        Click <b>"Create and see Results"</b> if you would like to see what word was found along with the grammar<br />
			        Click <b>"Create and see accurate Results"</b> if you would like to see only the grammar found which is more accurate<br /></p>
			        <hr>
			        <h5>Accurate Results</h5>
					<p>You will then be taken to a dashboard page of the results found from the input<br />
					Accurate results is intended to be more accurate because it contains less complex code to try
					and find which word is found. With Accurate results you must read the input from left to 
					right and match it with the grammar found.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
				</div>
			</div>
		</form>

	</center>
{% endblock %}