{% extends 'main/base.html' %}

{% block title %} Grammalyzing {% endblock %}

{% block content %}
	<style type="text/css">
		.bi-x-lg {
			color: red;
		}

	</style>
	<center><h2 style="font-family:'Brush Script MT', cursive; font-size:3vw;">Grammalyzing</h2></center>
	
	<div class="font-weight-light" style="font-size:1.2vw">
		<center><p>Here's everything you can expect to get from the Parts-of-Speech detector.</p>
				<p>Hover over each feature for more details.</p>
				{% if user.is_authenticated %}
				<a class="btn btn-danger" type="submit" href="/create">Get Started</a>
				{% else %}
				<a class="btn btn-danger" type="submit" href="/register">Get Started</a>
				{% endif %}
		</center>
		<br />
		<table class="table table-hover table-striped">
			<thead class="thead" style="background-color:white;">
				<tr>
					<th>Features</th>
					<th>Not Registered</th>
					<th>Registered</th>
				</tr>
			</thead>

			<tbody>
				<tr><td title="You are only able to see the results of a single input">Single-Input Dashboard</td>
					<td><i class="bi bi-check2-circle"></i></i></td>
					<td><i class="bi bi-check2-circle"></i></i></td>
				</tr>
				<tr><td title="Without registering, you are able to use this feature for saving time. While registered users can use this feature to not save the input to their collection or for simple testing purposes.">Quick-Post</td>
					<td><i class="bi bi-check2-circle"></i></td>
					<td><i class="bi bi-check2-circle"></i></td>
				</tr>
				<tr><td title="Store your strings into one big collection!">Personal Collection</td>
					<td><i class="bi bi-x-lg"></i></td>
					<td><i class="bi bi-check2-circle"></i></td>
				</tr>
				<tr><td title="See one big dashboard screen of your entire collection!">Collection Dashboard</td>
					<td><i class="bi bi-x-lg"></i></td>
					<td><i class="bi bi-check2-circle"></i></td>
				</tr>
				<tr><td title="Download collection dashboard results produced by python">Download Code Output</td>
					<td><i class="bi bi-x-lg"></i></td>
					<td><i class="bi bi-check2-circle"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}